.action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 38px;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .action__title {
    font-size: 30px;
    line-height: 26px;
  }
}

.action__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding: 21px 18px 32px 18px;
}

.action__search {
  background-color: #81b3d2;
  padding: 10px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  width: 284px;
  text-align: center;
  margin-bottom: 49px;
}

.action__search:hover {
  background-color: @hover-blue;
}

.action__search:active {
  background-color: @hover-blue;
  color: rgba(255, 255, 255, 0.3);
}

.action__search:disabled {
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .action__search {
    width: 458px;
  }
}
