.advantage {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantage__wrapper {
  text-align: center;
  background-color: #81b3d2;
  padding: 33px 18px 40px 18px;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .advantage__wrapper {
    order: 2;
    width: 256px;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantage__wrapper {
    text-align: center;
    background-color: #81b3d2;
    padding: 18px 54px;
    width: 400px;
    height: 256px;
  }
}

.advantage__section {
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.advantage__section-second {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .advantage__section-second {
    flex-direction: row-reverse;
  }

  .advantage__section-title {
    display: block;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantage__section-second {
    flex-direction: row-reverse;
  }
}

.advantage__section-grey-background {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .advantage__section-grey-background {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
}

.advantage__section-background {
  background-color: #eeeeee;
  margin: 0;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: @desktop-width) {
  .advantage__section-background {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 33.3333%;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .advantage__section-background {
    width: 33.3333%;
    align-items: center;
    height: 256px;
    display: flex;
    justify-content: center;
    flex-direction: column

  }
}

.advantage__section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 24px;
}

.advantage__section-title-white {
  color: #ffffff;
}

.advantage__section-number {
  padding-top: 21px;
  color: #333333;
}

.advantage__section-number-white {
  color: #ffffff;
}

.advantage__section-description {
  padding-top: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.advantage__section-description-white {
  color: #ffffff;
}

.advantage__section-description-line {
  border-bottom: 1px solid #d6d6d6;
  padding: 24px 0;
}

@media (max-width: @mobile-width-only) {
  .advantage__section-description-line {
    border-bottom: 0;
    padding: 0;
  }
}

.advantage__section-description-padding {
  padding: 24px 0;
}

.advantage-img {
  position: relative;
  flex-grow: 1;
  min-height: 256px;
}

.advantage-img img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.advantage__section-img-bridge {
  //height: 260px;
  object-fit: contain;
  position: absolute;
}

@media (min-width: @tablet-width) and (max-width: 1199px) {
  .advantage__section-img-bridge {
    //height: 256px;
    order: 1;
    object-fit: contain;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bridge-image-2x.jpg");
    background-size: 800px auto;
  }
}

.advantage__section-img {
  width: 100%;
  height: 256px;
  object-fit: contain;
}

@media (min-width: @tablet-width) and (max-width: 1199px) {
  .advantage__section-img {
    width: 512px;
    height: 256px;
    object-fit: contain;
  }
}

@media (min-width: @desktop-width) {
  .advantage__section-img {
    width: 800px;
    height: 256px;
    object-fit: contain;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photo-city2x.jpg");
    background-size: 800px auto;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .advantage__section-block {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .advantage__section-block {
    display: flex;
  }
}
