.advantage {
  padding: 0;
  margin: 0;
}

.advantage__wrapper {
  text-align: center;
  background-color: #81B3D2;
  padding: 18px 54px;
}

.advantage__section {
  text-align: center;
}

.advantage__section-background {
  background-color: #EEEEEE;
  margin: 0;
}

.advantage__section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 24px;
}

.advantage__section-title-white {
  color: #FFFFFF;
}

.advantage__section-number {
  color: #333333;
}

.advantage__section-number-white {
  color: #ffffff;
}

.advantage__section-description {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.advantage__section-description-white {
  color: #ffffff;
}

.advantage__section-description-line {
  border-bottom: 1px solid #D6D6D6;
  padding: 24px 0;
}

.advantage__section-description-padding {
  padding: 24px 0;
}
