.advice__item--house {
  background-image: url("./source/img/icon-house.svg");
}

.advice__item--food {
  background-image: url("./source/img/icon-burger.svg");
}

.advice__item--souvenir {
  background-image: url("./source/img/icon-gift.svg");
}

.advice__list {
  text-align: center;
}

.advice__title {
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.advice__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
