.advice__item {
  text-align: left;
}

.advice__item-dummy {
  width: 82px;
  background-color: transparent;
}

.advice__item-img {
  padding-right: 8px;
}

.advice__item--house {
  background-repeat: no-repeat;
}

.advice__item--food {
  background-repeat: no-repeat;
}

.advice__item--souvenir {
  background-repeat: no-repeat;
}

.advice__list {
  text-align: center;
  list-style-type: none;
  padding: 23px 18px;
}

@media (min-width: @tablet-width) and (max-width: 1199px) {
  .advice__list {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }
}

@media (min-width: @desktop-width) {
  .advice__list {
    width: @desktop-width;
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }
}

.advice__item-row {
  display: block;
  text-align: center;
}

.advice__title {
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 7px;
}

.advice__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
