.advice__item {
  text-align: left;
}

.advice__item-row {
  display: flex;
}

.advice__item-dummy {
  width: 82px;
  background-color: transparent;
}

.advice__item-img {
  padding-right: 8px;
}

.advice__item--house {
  background-repeat: no-repeat;
}

.advice__item--food {
  background-repeat: no-repeat;
}

.advice__item--souvenir {
  background-repeat: no-repeat;
}

.advice__list {
  text-align: center;
  list-style-type: none;
  padding: 23px 18px;
}

.advice__title {
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 7px;
}

.advice__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
