.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .main-footer {
    display: flex;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 647px;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 960px;
    align-items: center;
  }
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  padding: 25px 0 0 17px;
}

.main-footer__copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  margin: 0 24px 8px 0;
}

/*.main-footer__copyright:hover {
  color: #81b3d2;
}*/

.main-footer__copyright:active {
  color: #b3b3b3;
}

.main-footer__hashtag {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 38px 0 16px 12px;
}

@media (min-width: @tablet-width) {
  .main-footer__hashtag {
    padding: 49px 0 33px 0;
  }
}

.main-footer__copyright-img {
  background-repeat: no-repeat;
  transform: translate(12px, 0px);
  color: #000000;
}

.main-footer__copyright:hover .main-footer__copyright-img,
.main-footer__copyright:hover .main-footer__copyright-text {
  color: #81b3d2;
}

.main-footer__copyright-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
