.main-footer {
  width: 100%;
  margin-top: 37px;

  @media (max-width: @mobile-width-only) {
    margin-top: 33px;
    padding-bottom: 24px;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .main-footer {
    margin-top: 0;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    align-items: center;
    padding: 0 48px 0 60px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    margin-top: -12px;
  }

  .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

.main-footer__copyright {
  padding: 25px 0 0 17px;

  @media (max-width: @mobile-width-only) {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: 25px 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-footer__copyright {
    padding: 14px 0 0 5px;
    margin-right: 28px;
    margin-left: -28px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__copyright {
    padding-top: 20px;
    margin-right: 17px;
  }
}

.main-footer__copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  margin: 0 24px 8px 0;
}

.main-footer__hashtag {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 38px 0 16px 12px;
  text-decoration: none;

  @media (max-width: @mobile-width-only) {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-top: 0;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__hashtag {
    padding: 49px 0 33px 0;
  }

  .main-footer__hashtag:hover,
  .main-footer__hashtag:focus,
  .main-footer__copyright-link:hover,
  .main-footer__copyright-link:focus {
    color: #81b3d2;
  }

  .main-footer__hashtag:active,
  .main-footer__copyright-link:active {
    color: #b3b3b3;
  }
}

.main-footer__copyright-img {
  background-repeat: no-repeat;
  color: inherit;
  fill: currentColor;
  margin-left: 12px;
}

.main-footer__copyright-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.main-footer__social {
  padding-top: 14px;

  @media (max-width: @mobile-width-only) {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 7px;
  }
}
