.main__container-container {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.map__img {
  border: none;
  display: block;
  width: 320px;
  height: 350px;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .map__img {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .map__img {
    width: 1200px;
    height: 350px;
  }
}

.map {
  top: 0;
  left: auto;
}
