@media (max-width: @mobile-width-only) {
  .main-image {
    background: url("../img/background-image.png") no-repeat center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 89px;
    padding-bottom: 86px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-img-mobile2x.jpg");
    background-size: 320px auto;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .main-image {
    background: url("../img/main-image-tablet.png") no-repeat center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 518px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-image-2x.jpg");
    background-size: 1200px auto;
  }
}

@media (min-width: @desktop-width) {
  .main-image {
    background: url("../img/main-image-desktop.png") no-repeat center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 518px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-image-2x.jpg");
    background-size: 1200px auto;
  }
}

@media (min-width: @tablet-width) {
  .main-image-letter {
    width: 460px;
    height: 349px;
    transform: translate(0, 76px);
  }
}

@media (max-width: @mobile-width-only) {
  .main-image-letter {
  }
}
