.social__list {
  display: flex;
  padding: 0;
}

.social__item {
  list-style-type: none;
  padding-right: 6px;
}

.social__link--vkontakte {
  .social-link();
}

.social__link--vkontakte:hover {
  background-color: @hover-blue;
}

.social__link--vkontakte:active {
  background-color: @active-blue;
}

.social__link--telegram {
  .social-link();
}

.social__link--telegram:hover {
  background-color: @hover-blue;
}

.social__link--telegram:active {
  background-color: @active-blue;
}

.social__link--youtube {
  .social-link();
}

.social__link--youtube:hover {
  background-color: @hover-blue;
}

.social__link--youtube:active {
  background-color: @active-blue;
}
